* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.blue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 400px;
  height: 100%;
  padding: 35px 55px;
  margin-bottom: 10px;
  background-color: #4c7abb;
  border-radius: 10px;
}

.white-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 500px;
  height: 100%;
  padding: 35px 55px;
  margin-bottom: 10px;
  border: 3px solid #4c7abb;
  border-radius: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: darkgrey;
}

.form-container {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 5rem 3rem;
  max-width: 300px;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.iconUser {
  position: absolute;
  top: -36%;
  left: 82%;
  width: 50px;
  height: 100%;
  color: #191f30;
}

.iconPassword {
  position: absolute;
  top: 0%;
  left: 82%;
  width: 70px;
  height: 100%;
  color: #191f30;
}

.iconGraphic {
  width: 25px;
  height: 100%;
}

h1,
h3 {
  margin-bottom: 20px;
}

.inputError {
  color: tomato;
}

.icon {
  width: 20px;
  height: 100%;
  margin-right: 15px;
}

.MenuPageContainer {
  height: 100vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.25);
}

.info-paciente {
  margin-top: 2rem;
  display: flex;
  gap: 10rem;
}

.checkbox {
  margin-right: 0.5rem;
}
